// @import "node_modules/bootstrap/scss/bootstrap";

$background: #16161a;
$headline: #fffffe;
$paragraph: #94a1b2;
$button: #2a1e50;
$button-text: #fffffe;


$body-bg: $background;
$body-color: $paragraph;

$navbar-light-color: #312650;
$navbar-light-brand-color:          $paragraph;
$navbar-light-brand-hover-color:    $headline;
$navbar-light-color:                $paragraph;
$navbar-light-hover-color:          $headline; 
$navbar-light-active-color:         $headline; 
.navbar-bg-primary {
    $background-color: tomato;
}



// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";